<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
  <meta charset="UTF-8">
  <title>Sửa Tên Danh Mục Nhóm Sản Phẩm</title>
</head>
<body>
<div class="container" layout:fragment="content">
  <h1 style="text-align: center">
    Sửa Tên Danh Mục Nhóm Sản Phẩm
  </h1>
  <form th:object="${type}" th:action="@{/admin/editType}" method="post">
    <div class="mb-3">
      <input type="hidden" class="form-control" th:field="*{type_id}">
      <label class="form-label">Nhóm sản phẩm</label>
      <input type="text" class="form-control" th:field="*{type_name}">
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>
</body>
</html>