<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div style="text-align: center">
        <h1>Sửa thông tin sản phẩm</h1>
    </div>
    <form th:action="@{/admin/edit}" method="post" th:object="${product}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{pro_id}">
        <div class="mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" name="pro_name" th:value="*{pro_name}">
        </div>
        <div class="mb-3">
            <label class="form-label">Ảnh</label>
            <input type="file" class="" name="pro_image" th:value="*{pro_image}" >
<!--            <img th:src="@{'/images/' + ${product.pro_image}}" style="width: 80px"></img>-->
        </div>
        <div class="mb-3">
            <label class="form-label">Giá nhập</label>
            <input type="text" class="form-control" name="import_price" th:value="*{import_price}">
        </div>
        <div class="mb-3">
            <label class="form-label">Giá bán</label>
            <input type="text" class="form-control" name="pro_price" th:value="*{pro_price}">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả chi tiết</label>
            <input type="text" class="form-control" name="pro_spec" th:value="*{pro_spec}">
        </div>
        <div class="mb-3">
            <label class="form-label">Phân loại</label>
            <input type="text" class="form-control" name="type_id" th:value="*{type_id}">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 5px">Lưu</button>
    </form>
</div>
</body>
</html>