<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử nhập hàng</title>
</head>
<body>
<div class="container" layout:fragment="content">
<!--    <h1 style="text-align: center">-->
<!--        Lịch sử nhập hàng-->
<!--    </h1>-->
    <table class="table" style="">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá nhập</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="impDetail : ${impDetails}">
            <th scope="row" th:text="${impDetail.stt}"></th>
            <td th:text="${impDetail.pro_name}"></td>
            <td th:text="${impDetail.import_price}"></td>
            <td th:text="${impDetail.quantity}"></td>
            <td th:text="${impDetail.import_detail_total}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>