<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Thêm Sản Phẩm Mới</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div style="text-align: center">
        <h1>Thêm Sản Phẩm Mới</h1>
    </div>
    <form th:action="@{/admin/insertPro}" method="post" th:object="${myUpload}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" name="pro_name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Ảnh</label>
            <input type="file" class="" name="pro_image" th:field="*{fileDatas}" accept=" .jpg, .png">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Giá nhập</label>
            <input type="text" class="form-control" name="import_price">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Giá bán</label>
            <input type="text" class="form-control" name="pro_price">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Mô tả chi tiết</label>
            <input type="text" class="form-control" name="pro_spec">
        </div>
        <div class="mb-3" th:if="${msg}">
<!--            <label for="" class="form-label">Phân loại</label>-->
            <h3 th:text="${msg}"></h3>
        </div>
        <button type="submit" class="btn btn-primary" >Lưu</button>
    </form>
</div>
</body>
</html>