<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm Theo Nhóm</title>
</head>
<body>
<div class="" layout:fragment="content">
    <table class="table">
        <h1 th:text="'Sản phẩm thuộc nhóm ' + ${session.type_name}" style="text-align: center"></h1>
        <thead>
        <tr>
            <th scope="col">Ảnh</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá nhập</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Sửa</th>
            <th scope="col">Nhập Hàng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${lists}">
            <td>
                <img th:src="@{'/images/' + ${list.pro_image}}" alt="Ảnh sản phẩm" style="width: 80px; height: 100px">
            </td>
            <td th:text="${list.pro_name}"></td>
            <td th:text="${list.import_price} + đ"></td>
            <td th:text="${list.pro_price} + đ"></td>
            <td>
                <form th:action="@{'/admin/updateProStatus/' + ${list.pro_id} }" method="post">
                    <select name="update">
                        <option th:each="proStatus : ${proStatuses}" th:value="${proStatus}" th:text="${proStatus}" th:selected="${list.pro_status eq proStatus}">
                        </option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-rotate-right"></i></button>
                </form>
            </td>
            <td><a th:href="@{'/admin/edit/' + ${list.pro_id} }" ><i class="fa-solid fa-pen-to-square"></i></a></td>
            <form th:action="@{'/add-to-cart/' + ${list.pro_id} }" method="post">
                <td><button type="submit" class="icon-button-hai"><i class="fas fa-plus-circle"></i></button></td>
            </form>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/admin/insert}"><button class="btn btn-primary">Thêm sản phẩm</button></a>

</div>
</body>
</html>