<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="" layout:fragment="content">
    <h1 style="text-align: center">Danh sách sản phẩm</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá nhập</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Phân loại</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">

            <td>
                <img th:src="@{'/images/' + ${product.pro_image}}" alt="Ảnh sản phẩm" style="width: 80px; height: 100px">

            </td>
            <td th:text="${product.pro_name}"></td>
            <td th:text="${product.import_price} + đ"></td>
            <td th:text="${product.pro_price} + đ"></td>
            <td th:text="${product.type_name}"></td>
            <td>
                <form th:action="@{'/admin/updateProStatus/' + ${product.pro_id} }" method="post">
                    <select name="update">
                        <option th:each="proStatus : ${proStatuses}" th:value="${proStatus}" th:text="${proStatus}" th:selected="${product.pro_status eq proStatus}">
                        </option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-rotate-right"></i></button>
                </form>
            </td>
            <td><a th:href="@{'/admin/edit/' + ${product.pro_id} }" ><i class="fa-solid fa-pen-to-square"></i></a></td>
<!--            <td><a th:href="@{'/admin/delete/' + ${product.pro_id}}" href=""><i class="fa-solid fa-trash-can"></i></a></td>-->
        </tr>
        </tbody>
    </table>
    <hr>
<!--    <a th:href="@{/admin/insert}"><button class="btn btn-primary">Thêm sản phẩm</button></a>-->

</div>
</body>
</html>