<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Khách Hàng</title>
</head>
<body>
<div layout:fragment="content">
    <h1 style="text-align: center">Thông Tin Khách Hàng</h1>
    <div>
        <form>
            <input type="text" name="keyword"/>
            <input type="submit" value="Tìm kiếm" />
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khách hàng</th>
<!--            <th scope="col">Ngày sinh</th>-->
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Giới tính</th>
            <!--            <th scope="col">Tên đăng nhập</th>-->
            <!--            <th scope="col">Mật khẩu</th>-->
            <!--            <th scope="col">Ngày tạo</th>-->
            <!--            <th scope="col">Trạng thái</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.stt}"></td>
            <td th:text="${customer.cus_name}"></td>
<!--            <td th:text="${customer.cus_birthday}"></td>-->
            <td th:text="${customer.cus_address}"></td>
            <td th:text="${customer.cus_phone}"></td>
            <td th:text="${customer.cus_email}"></td>
            <td th:text="${customer.cus_gender}"></td>
            <!--            <td th:text="${customer.cus_username}"></td>-->
            <!--            <td th:text="${customer.cus_password}"></td>-->
            <!--            <td th:text="${customer.cus_create_at}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>