<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout">
<head>
    <meta charset="UTF-8">
    <title>Quản lí chung</title>
</head>
<body>
<div layout:replace="header">

</div>

<div layout:replace="sidebar">

</div>
<div class="content" layout:fragment="content">
    <h1 style="text-align: center">Sản Phẩm Bán Chạy</h1>

    <div class="container">
<!--        <form>-->
<!--            <input type="text" name="keyword"/>-->

<!--            <input type="submit" value="Tìm kiếm">-->
<!--        </form>-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng đã bán</th>
                <th scope="col">Doanh thu</th>
                <!--            <th scope="col">Thời gian đặt hàng</th>-->
                <!--            <th scope="col">Tổng tiền</th>-->
                <!--            <th scope="col">Trạng thái</th>-->
                <!--            <th scope="col">Chi tiết</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="a: ${list}">
                <td th:text="${a.stt}"></td>
                <td th:text="${a.pro_name}"></td>
                <td th:text="${a.total_quantity_sold}"></td>
                <td th:text="${a.total_revenue}"></td>
                <!--            <td th:text="${order.order_date}"></td>-->
                <!--            <td th:text="${order.total}"></td>-->
                <!--            <td th:text="${order.status}"></td>-->
                <!--            <td th:text="${order.order_id}" hidden></td>-->
                <!--            <td><a th:href="@{'/admin/order-detail/' + ${order.order_id}}"><i class="fa-solid fa-pen-to-square"></i></a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>