<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Thông Tin Khách Hàng</title>

</head>
<body>

<div class="container container-fullscreen" layout:fragment="content">
    <div class="text-middle">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 p-30 background-white">
                <div class="col-md-12 m-t-20">
                    <h3>Thông Tin Tài Khoản</h3>

                    <form>
                        <div class="col-md-6 form-group">
                            <label for="full-name">Họ và tên:</label>
                            <strong th:text="${session.user.cus_name}">Nguyễn Văn A</strong>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="gender">Giới tính:</label>
                            <strong th:text="${session.user.cus_gender}">Phi Giới Tính</strong>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="username">Tên tài khoản:</label>
                            <strong th:text="${session.user.cus_username}">test</strong>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="password">Mật khẩu:</label>
                            <input type="password" th:value="${session.user.cus_password}" readonly oncopy="return false;"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="email">Email:</label>
                            <strong th:text="${session.user.cus_email}">CoGaiBenTreHeHe@gmail.com</strong>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="phone">Số điện thoại:</label>
                            <strong th:text="${session.user.cus_phone}">0123456789</strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>