<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>


    <link rel="shortcut icon" href="images/favicon.png">
    <title>POLO | The Multi-Purpose HTML5 Template</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/default/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/default/vendor/fontawesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/default/vendor/animateit/animate.min.css}" rel="stylesheet">

    <!-- Vendor css -->
    <link th:href="@{/default/vendor/owlcarousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/default/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Template base -->
    <link th:href="@{/default/css/theme-base.css}" rel="stylesheet">

    <!-- Template elements -->
    <link th:href="@{/default/css/theme-elements.css}" rel="stylesheet">

    <!-- Responsive classes -->
    <link th:href="@{/default/css/responsive.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->


    <!-- Template color -->
    <link th:href="@{/default/css/color-variations/blue.css}" rel="stylesheet" type="text/css" media="screen"
          title="blue">

    <!-- LOAD GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800"
          rel="stylesheet" type="text/css"/>

    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" property="stylesheet" th:href="@{/default/vendor/rs-plugin/css/settings.css}" type="text/css"
          media="all"/>

    <!-- CSS CUSTOM STYLE -->
    <link rel="stylesheet" type="text/css" th:href="@{/default/css/custom.css}" media="screen"/>

    <!--VENDOR SCRIPT-->
    <script th:src="@{/default/vendor/jquery/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/default/vendor/plugins-compressed.js}"></script>
</head>

<body class="wide">


<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header id="header" class="header-dark" layout:fragment="header">
        <div id="header-wrap">
            <div class="container">

                <!--LOGO-->
                <div id="logo">
                    <a th:href="@{/home}" class="logo" >
                        <img th:src="@{/images/Logo.jpg}" alt="Polo Logo">
                    </a>
                </div>
                <!--END: LOGO-->

                <!--MOBILE MENU -->
                <div class="nav-main-menu-responsive">
                    <button class="lines-button x">
                        <span class="lines"></span>
                    </button>
                </div>
                <!--END: MOBILE MENU -->

                <!--SHOPPING CART -->
                <div id="shopping-cart">
<!--                    <span class="shopping-cart-items">8</span>-->
                    <a th:href="@{'/cart'}"><i class="fa fa-shopping-cart"></i></a>
                </div>
                <!--END: SHOPPING CART -->

                <!--TOP SEARCH -->
                <div id="top-search"><a id="top-search-trigger"><i class="fa fa-search"></i><i class="fa fa-close"></i></a>
                    <form action="search-results-page.html" method="get">
                        <input type="text" name="q" class="form-control" value=""
                               placeholder="Start typing & press  &quot;Enter&quot;">
                    </form>
                </div>
                <!--END: TOP SEARCH -->

                <!--NAVIGATION-->
                <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
                    <div class="container">
                        <nav id="mainMenu" class="main-menu mega-menu">
                            <ul class="main-menu nav nav-pills">
                                <li><a th:href="@{'/home'}"><i class="fa fa-home"></i>Trang Chủ</a></li>
                                <li class="dropdown"><a href="#">Sản Phẩm<span
                                        class="label label-danger infinit">HOT</span><i class="fa fa-angle-down"></i> </a>
                                    <ul class="dropdown-menu">
                                        <li class="" th:each="menu : ${menus}">
                                            <a th:text="${menu.type_name}" th:href="@{'/menu/' + ${menu.type_id} }"></a>
                                        </li>
<!--                                        <li class=""><a href="#">Brownies</a></li>-->
<!--                                        <li class=""><a href="#">Chè</a></li>-->
<!--                                        <li class=""><a href="#">Bông lan</a></li>-->
                                    </ul>
                                </li>
                                <li class=""><a th:href="@{'/tin-tuc'}">Tin Tức</a></li>
                                <li class="dropdown"><a href="#">Khuyến Mãi  </a></li>

                                <li th:if="${session.user != null}" class="dropdown"><a href="#">Tài Khoản</a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a th:href="@{/lich-su-don-hang}" class="logout-button">Lịch Sử Đơn Hàng</a></li>
                                        <li class=""><a th:href="@{/thong-tin-USER}" class="logout-button">Thông tin tài khoản</a></li>
                                        <li class=""><a th:href="@{/logout}" class="logout-button">Đăng Xuất</a></li>

                                    </ul>
                                </li>
                                <li th:if="${session.user == null}">
                                    <a href="/login" class="user-login-link">Đăng nhập</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--END: NAVIGATION-->
            </div>
        </div>
    </header>
    <!-- END: HEADER -->


        <section layout:fragment="content">
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque velit, ultrices in vulputate
                    vitae,
                    volutpat iaculis velit. In congue dolor a ligula cursus aliquam. Aliquam id malesuada metus. Donec
                    ultricies lorem augue, ac fringilla felis aliquet et. Integer a rutrum dui, id varius neque. Donec
                    orci
                    massa, porttitor sit amet velit non, interdum feugiat lacus. Fusce tincidunt id erat at consequat.
                    Cras
                    vel aliquet mauris, ac tempor lorem. Donec faucibus sodales eros sed pretium. Praesent ut
                    scelerisque
                    lectus, ut feugiat mi.</p>

                <p>Nunc vulputate semper erat, non iaculis sapien congue sit amet. Duis non nulla volutpat, dignissim
                    leo
                    sit amet, porta nunc. Donec placerat fermentum metus ac scelerisque. In id sollicitudin nulla.
                    Suspendisse potenti. Integer aliquam orci aliquam eros posuere ornare. Fusce augue felis, maximus
                    non
                    lacus vitae, ullamcorper dignissim leo. Ut congue feugiat turpis at aliquam. Donec eros neque,
                    accumsan
                    sed venenatis volutpat, tempor at metus. Curabitur vel vestibulum ipsum, convallis cursus nisl.
                    Mauris
                    scelerisque gravida faucibus. Morbi vitae sapien nibh. Integer libero orci, ullamcorper in tincidunt
                    at,
                    molestie quis ipsum.</p>

                <p>Nunc vulputate semper erat, non iaculis sapien congue sit amet. Duis non nulla volutpat, dignissim
                    leo
                    sit amet, porta nunc. Donec placerat fermentum metus ac scelerisque. In id sollicitudin nulla.
                    Suspendisse potenti. Integer aliquam orci aliquam eros posuere ornare. Fusce augue felis, maximus
                    non
                    lacus vitae, ullamcorper dignissim leo. Ut congue feugiat turpis at aliquam. Donec eros neque,
                    accumsan
                    sed venenatis volutpat, tempor at metus. Curabitur vel vestibulum ipsum, convallis cursus nisl.
                    Mauris
                    scelerisque gravida faucibus. Morbi vitae sapien nibh. Integer libero orci, ullamcorper in tincidunt
                    at,
                    molestie quis ipsum.</p>
            </div>
        </section>

    <!-- FOOTER -->
    <footer class="background-dark text-grey" id="footer" layout:fragment="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-logo float-left">
                            <img style="height: 80px;width: 90px" alt="" th:src="@{/images/LogoMini.jpg}">
                        </div>
                        <h4 style="margin-top: 12px;">Tinh thần sáng tạo không ngại thử thách, từ sự yêu mến những điều ngọt ngào. <strong style="color:hotpink">Tui thèm ngọt</strong>
                            vì thế đã được ra mắt, rất mong mọi người yêu mến và ủng hộ cho chúng tôi.
                        </h4>

                    </div>
                </div>
                <div class="seperator seperator-dark seperator-simple"></div>
                <div class="row">


                    <div class="col-md-4">
                        <div class="widget clearfix widget-contact-us"
                             style="background-image: url('/images/world-map.jpg'); background-position: 50% 55px; background-repeat: no-repeat">
                            <h4 class="widget-title">Thông tin liên hệ</h4>
                            <ul class="list-large list-icons">
                                <li><i class="fa fa-map-marker"></i>
                                    <strong>Địa chỉ:</strong> 102 Nguyễn Đình Chính, Phường 12, Quận Phú Nhuận
                                    <br>Thành phố Hồ Chí Minh
                                </li>
                                <li><i class="fa fa-phone"></i><strong>Số điện thoại: </strong>0903315602</li>
                                <li><i class="fa fa-envelope"></i><strong>Email:</strong> <a
                                        href="mailto:impossibleteam2012@gmail.com">impossibleteam2012@gmail.com</a>
                                </li>
                                <li><i class="fa fa-clock-o"></i>Thứ hai - Thứ bảy: <strong>08:00 - 22:00</strong>
                                    <br>Sunday: <strong>Đóng cửa</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                        <div class="widget clearfix widget-map">
                            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4111229606697!2d106.69644397451722!3d10.779790759132727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f37e6d82451%3A0xe84f59936ced5b45!2zTmjDoCB0aOG7nSDEkOG7qWMgQsOgIFPDoGkgR8Oybg!5e0!3m2!1svi!2s!4v1698065558453!5m2!1svi!2s"
                                    width="360" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>

                    </div>


                </div>


            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="row">
                    <div class="copyright-text col-md-6"> &copy; 2023 BBoyBin - best dev ever. No copyright <span><i class="fa fa-registered" aria-hidden="true"></i></span>
                        <a target="_blank" href="#"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="social-facebook"><a href="https://www.facebook.com/BBoyBin.ImpossibleDev" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-youtube"><a href="https://www.youtube.com/@bingiangho2002" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END: FOOTER -->

</div>
<!-- END: WRAPPER -->

<!-- GO TOP BUTTON -->
<a class="gototop gototop-button" href="#"><i class="fa fa-chevron-up"></i></a>

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script type="text/javascript" th:src="@{default/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript" th:src="@{default/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>

<script type="text/javascript">
    var tpj = jQuery;

    var revapi21;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_21_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_21_1");
        } else {
            revapi21 = tpj("#rev_slider_21_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "vendor/rs-plugin/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    onHoverStop: "off",
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [868, 768, 960, 720],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 700,
                    levels: [2, 6, 10, 20, 25, 30, 35, 40, 45, 50, 47, 48, 49, 50, 51, 55],
                    type: "mouse",
                    disable_onmobile: "on"
                },
                shadow: 0,
                spinner: "spinner0",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });	/*ready*/
</script>

<!-- Theme Base, Components and Settings -->
<script th:src="@{/default/js/theme-functions.js}"></script>

<!-- Custom js file -->
<script th:src="@{/default/js/custom.js}"></script>


</body>
</html>

