<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Lịch Sử Đơn Hàng</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Các Đơn Hàng Bạn Đã Mua</h1>
    <div class="table table-condensed table-striped table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="cart-product-STT">STT</th>
                <th class="cart-product-tenKH">Khách Hàng</th>
                <th class="cart-product-ngayDatH">Ngày Đặt Hàng</th>
                <th class="cart-product-ngayGiaoH">Ngày Giao Hàng</th>
                <th class="cart-product-cachThucTT">Hình Thức Thanh Toán</th>
                <th class="cart-product-subtotal">Tổng Thành Tiền</th>
                <th class="cart-product-trangThai">Trạng Thái Đơn Hàng</th>
                <th class="cart-product-icon">Xem Thêm</th>
            </tr>
            </thead>
            <tbody>
            <!--Don Hang-->
            <tr>
                <td class=""cart-product-STT"">
                    <a href="#"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a>
                </td>
                <td class="cart-product-tenKH">
                    <h4>Lê Minh Phương</h4>
                </td>
                <td class="cart-product-ngayDatH">
                    <span class="amount">1/11/2023</span>
                </td>
                <td class="cart-product-ngayGiaoH">
                    <span class="amount">5/11/2023</span>
                </td>
                <td class="cart-product-cachThucTT">
                    <h4>Tiền mặt</h4>
                </td>
                <td class="cart-product-subtotal">
                    <span class="amount">5.000.000đ</span>
                </td>
                <td class="cart-product-trangThai">
                    <h4>Hoàn Thành</h4>
                </td>
                <td class="cart-product-icon">
                    <a th:href="@{/chi-tiet-ne}">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <!--Don Hang 1-->
            <tr>
                <td class=""cart-product-STT"">
                <a href="#"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a>
                </td>
                <td class="cart-product-tenKH">
                    <h4>Phạm Hà Quang Linh</h4>
                </td>
                <td class="cart-product-ngayDatH">
                    <span class="amount">11/11/2023</span>
                </td>
                <td class="cart-product-ngayGiaoH">
                    <span class="amount">13/11/2023</span>
                </td>
                <td class="cart-product-cachThucTT">
                    <h4>Tiền mặt</h4>
                </td>
                <td class="cart-product-subtotal">
                    <span class="amount">1.000.000đ</span>
                </td>
                <td class="cart-product-trangThai">
                    <h4>Hoàn Thành</h4>
                </td>
                <td class="cart-product-icon"> <a th:href="@{/chi-tiet-ne}"><i class="fa fa-rss" aria-hidden="true"></i></a></td>
            </tr>
            <!--Don Hang 2-->
            <tr>
                <td class=""cart-product-STT"">
                <a href="#"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a>
                </td>
                <td class="cart-product-tenKH">
                    <h4>Lại Lưu Khôi</h4>
                </td>
                <td class="cart-product-ngayDatH">
                    <span class="amount">21/11/2023</span>
                </td>
                <td class="cart-product-ngayGiaoH">
                    <span class="amount">23/11/2023</span>
                </td>
                <td class="cart-product-cachThucTT">
                    <h4>Tiền mặt</h4>
                </td>
                <td class="cart-product-subtotal">
                    <span class="amount">500.000đ</span>
                </td>
                <td class="cart-product-trangThai">
                    <h4>Hoàn Thành</h4>
                </td>
                <td class="cart-product-icon"> <a th:href="@{/chi-tiet-ne}"><i class="fa fa-rss" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>