<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<!-- SECTION -->
<section layout:fragment="content" class="parallax fullscreen" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbEusISmA26B7bIeevki-n-ErX-ClSsk7eeA&usqp=CAU)">
    <div class="container container-fullscreen">
        <div class="text-middle">
            <div class="row">
                <div class="col-md-3 center p-30 background-white">
                    <h3>Đăng Nhập</h3>
                    <form class="form-transparent-grey">
                        <div class="form-group">
                            <label class="sr-only">Tài khoản</label>
                            <input type="text" class="form-control" placeholder="Tài khoản đăng nhập">
                        </div>
                        <div class="form-group m-b-5">
                            <label class="sr-only">Mật khẩu</label>
                            <input type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div class="text-left form-group">
                            <button type="button" class="btn btn-primary">Đăng Nhập</button>

                        </div>
                    </form>
                    <p class="text-left">Bạn chưa có tài khoản?<a th:href="@{/register}"> Đăng ký tài khoản mới</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: SECTION -->
</body>
</html>