<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
</head>
<body>
<!-- SECTION -->
<section layout:fragment="content" class="parallax fullscreen" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbEusISmA26B7bIeevki-n-ErX-ClSsk7eeA&usqp=CAU)">
  <div class="container container-fullscreen">
    <div class="text-middle">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 p-30 background-white">
          <div class="col-md-12 m-t-20" >
            <h3>Đăng ký</h3>

            <form th:object="${customer}" th:action="@{/registered}" method="post">
              <div class="col-md-6 form-group">
                <input type="text" placeholder="Họ và tên" class="form-control input-lg" th:field="*{cus_name}" required>
              </div>
              <div class="col-md-6 form-group">
                <select class="form-control input-lg" name="gender">
                  <option>Nam</option>
                  <option>Nữ</option>
                  <option>Khác</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" required placeholder="Username" class="form-control input-lg" th:field="*{cus_username}">
              </div>
              <div class="col-md-6 form-group">
                <input type="password" placeholder="Password" class="form-control input-lg" name="password">
              </div>

              <div class="col-md-12 form-group">
                <input type="text" placeholder="Địa chỉ" class="form-control input-lg" th:field="*{cus_address}" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" placeholder="Email" class="form-control input-lg" th:field="*{cus_email}" required>
              </div>
              <div class="col-md-6 form-group">
                <input type="number" placeholder="Số điện thoại" class="form-control input-lg" th:field="*{cus_phone}" required>
              </div>
              <div class="col-md-12 form-group">
                <button class="btn btn-primary" type="submit">Tạo tài khoản</button>
                <button type="button" class="btn btn-danger m-l-10">Hủy</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: SECTION -->
</body>
</html>