<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
</head>
<body>
<!-- SECTION -->
<section layout:fragment="content" class="parallax fullscreen" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbEusISmA26B7bIeevki-n-ErX-ClSsk7eeA&usqp=CAU)">
  <div class="container container-fullscreen">
    <div class="text-middle">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 p-30 background-white">
          <div class="col-md-12 m-t-20">
            <h3>Đăng ký</h3>


          <div class="col-md-6 form-group">
            <input type="text" value="" placeholder="Họ" class="form-control input-lg">
          </div><div class="col-md-6 form-group">
          <input type="text" value="" placeholder="Tên" class="form-control input-lg">
        </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" placeholder="Username" class="form-control input-lg">
          </div><div class="col-md-6 form-group">
          <input type="password" value="" placeholder="Password" class="form-control input-lg">
        </div>

          <div class="col-md-12 form-group">
            <input type="text" value="" placeholder="Địa chỉ" class="form-control input-lg">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" placeholder="Email" class="form-control input-lg">
          </div>
          <div class="col-md-6 form-group">
            <input type="text" value="" placeholder="Số điện thoại" class="form-control input-lg">
          </div><div class="col-md-12 form-group">
          <button class="btn btn-primary" type="button">Tạo tài khoản</button><button type="button" class="btn btn-danger m-l-10">Hủy</button>

        </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: SECTION -->
</body>
</html>