<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Trạng Thái Đặt Hàng</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="LOA" th:text="${msg}">Đây là nội dung thông báo kết quả thanh toán</h1>
        <form class="custom-form">
            <div class="custom-col-md-6 custom-form-group">
                <h2>Cảm ơn bạn đã mua hàng của chúng tôi</h2>
                <img th:src="@{/images/Avatar.jpg}">
            </div>
        </form>
    </div>
</body>
</html>