<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Thanh Toán</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
<!-- SHOP CHECKOUT -->
<section layout:fragment="content" id="shop-checkout">
    <div class="container">
        <div class="shop-cart">
            <form th:action="@{/save-order}" method="post">
<!--                <form class="sep-top-md">-->
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <div class="col-md-12">
                                <h4 class="upper">Thông Tin Vận Chuyển</h4>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control input-lg" placeholder="Họ và tên" required name="order_receiver" th:value="${session.user.cus_name}">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control input-lg" placeholder="Số điện thoại" required name="order_phone_receiver" th:value="${session.user.cus_phone}">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control input-lg" placeholder="Địa chỉ nhận hàng: số nhà / tên đường" id="address" th:value="${session.user.cus_address}" name="temp">
                            </div>
                            <div class="col-md-12 form-group">
                                <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn tỉnh thành</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn quận huyện</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn phường xã</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label class="sr-only">Đây là địa chỉ của bạn nè</label>
                                <input type="text" class="form-control input-lg" placeholder="Email" id="current_address" name="order_delivery_address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-12 no-padding">
                                    <label>Ghi Chú Đơn Hàng</label>
                                    <textarea class="form-control input-lg" placeholder="Gửi lời nhắn cho shop biết" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </form>-->
    <!--            Chỗ này là chia vùng-->
                <div class="seperator"><i class="fa fa-credit-card"></i>
                </div>

    <!--Vùng này để hiển thị sản phẩm và tổng tiền hóa đơn khi khách hàng đã lựa-->
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="upper">Thông tin đơn hàng</h4>
                        <div class="table table-condensed table-striped table-responsive table table-bordered table-responsive">
                            <table class="table m-b-0">
                                <thead>
                                    <tr>

                                        <th class="cart-product-thumbnail">Tên sản phẩm</th>
                                        <th class="cart-product-name">Số lượng</th>
                                        <th class="cart-product-subtotal">Thành tiền</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart : ${session.gioHang.items}">

                                        <td class="cart-product-thumbnail">

                                            <div class="cart-product-thumbnail-name" th:text="${cart.product.pro_name}">Bolt Sweatshirt</div>
                                        </td>

                                        <td class="cart-product-description">
                                            <p th:text="${cart.quantity}"></p>
                                        </td>

                                        <td class="cart-product-subtotal">
                                            <span class="amount" th:text="${cart.subTotal}">$20.00</span>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <h4>Hóa Đơn</h4>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Tạm tính</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount" th:text="${session.gioHang.total}">$125.96</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Phí vận chuyển</strong>
                                        </td>

                                        <td class="cart-product-name  text-right">
                                            <span class="amount">Miễn phí vận chuyển</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Giảm giá</strong>
                                        </td>

                                        <td class="cart-product-name  text-right">
                                            <span class="amount"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Tổng</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount color lead" th:text="${session.gioHang.total}"><strong>$100.76</strong></span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="upper">Phương Thức Thanh Toán</h4>

                        <table class="payment-method table table-bordered table-condensed table-responsive">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" value=""><b class="dark">Thanh toán khi nhận hàng(COD) <i class="fa fa-money"></i></b>
                                                <br>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" value=""><b class="dark">Thanh toán qua MOMO <i class="fa fa-credit-card"></i></b>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="button color button-3d rounded icon-left float-right"><span>Xác nhận thanh toán</span></button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>
<!-- END: SHOP CHECKOUT -->
</body>
</html>