<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
</head>
<body>
<div layout:fragment="content">

    <!-- SHOP CART -->
    <section id="shop-cart">
        <div class="container">
            <div class="shop-cart">
                <div class="table table-condensed table-striped table-responsive">
                    <form th:action="@{/update}" method="post">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="cart-product-remove"></th>
                            <th class="cart-product-thumbnail">Sản phẩm</th>
                            <th class="cart-product-price">Giá</th>
                            <th class="cart-product-quantity">Số lượng</th>
                            <th class="cart-product-subtotal">Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="${items == null or #lists.isEmpty(items)}">
                            <h1>Chưa có sản phẩm trong giỏ</h1>
                        </div>
                        <tr th:each="item : ${items}">
                            <td class="cart-product-remove">
                                <a th:href="@{'/remove/' + ${item.product.pro_id}}"><i class="fa fa-close"></i></a>
                            </td>

                            <td class="cart-product-thumbnail">
                                <a href="#">
                                    <img th:src="@{'/images/' + ${item.product.pro_image}}" alt="">
                                </a>
                                <input th:value="${item.product.pro_id}" name="id" type="hidden">
                                <div class="cart-product-thumbnail-name" th:text="${item.product.pro_name}"></div>
                            </td>


                            <td class="cart-product-price">
                                <span class="amount" th:text="${item.product.pro_price}">$20.00</span>
                            </td>

                            <td class="product-details-quantity">

                                <input type="number" id="cart_qty" name="qty" class="qty" min="1" th:value="${item.quantity}">

                            </td>

                            <td class="cart-product-subtotal">
                                <span class="amount" th:text="${item.subTotal}">$20.00</span>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                        <button type="submit" class="button color button-3d rounded icon-left float-left"><span>Cập nhật giỏ hàng</span></button>

                    </form>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <hr class="space">
                    <div class="col-md-6">
                        <h4></h4>
                        <form class="row">
                            <div class="col-md-12 m-b-20">

                            </div>
                            <div class="col-md-6 form-group">

                            </div>

                            <div class="col-md-6  form-group">

                            </div>


                        </form>
                    </div>
                    <div class="col-md-6 p-r-10 ">
                        <div class="table-responsive">
                            <h4>Tạm tính</h4>

                            <table class="table" >
                                <tbody>
<!--                                <tr th:each="item : ${items}">-->
<!--                                    <td class="cart-product-name" >-->
<!--                                        <strong>Giá tiền sản phẩm</strong>-->
<!--                                    </td>-->

<!--                                    <td class="cart-product-name text-right">-->
<!--                                        <span class="amount" th:text="${item.product.pro_price}">$125.96</span>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td class="cart-product-name">-->
<!--                                        <strong>Tiền vận chuyển</strong>-->
<!--                                    </td>-->

<!--                                    <td class="cart-product-name  text-right">-->
<!--&lt;!&ndash;                                        <span class="amount">Miễn phí</span>&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td class="cart-product-name">-->
<!--                                        <strong>Ưu đãi</strong>-->
<!--                                    </td>-->

<!--                                    <td class="cart-product-name  text-right">-->
<!--&lt;!&ndash;                                        <span class="amount">-20%</span>&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Tổng tiền</strong>
                                    </td>

                                    <td class="cart-product-name text-right">
                                        <span class="amount color lead" th:text="${session.gioHang.total}"><strong>$100.76</strong></span>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
<!--                            <a th:href="@{'/update/' + ${}}"  class="button color button-3d rounded icon-left float-left"><span>Cập nhật giỏ hàng</span></a>-->

                        </div>
<!--                        <a th:href="@{'/update'}"  class="button color button-3d rounded icon-left float-left"><span>Cập nhật giỏ hàng</span></a>-->
                        <a th:href="@{'/check-out'}"  class="button color button-3d rounded icon-left float-right"><span>Thanh Toán</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: SHOP CART -->
</div>

</body>
</html>