<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<!-- SECTION -->
<section layout:fragment="content" class="parallax fullscreen" style="background-image: url(https://inkythuatso.com/uploads/thumbnails/800/2022/05/15-hinh-nen-dien-thoai-nhe-nhanh-inkythuatso-19-16-32-43.jpg)">
    <div class="container container-fullscreen">
        <div class="text-middle">
            <div class="row">
                <div class="col-md-3 center p-30 background-white">
                    <h3>Login to your Accountt</h3>
                    <form class="form-transparent-grey">
                        <div class="form-group">
                            <label class="sr-only">Username or Email</label>
                            <input type="text" class="form-control" placeholder="Username or Email">
                        </div>
                        <div class="form-group m-b-5">
                            <label class="sr-only">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group form-inline text-left ">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"><small> Remember me</small>
                                </label>
                            </div>
                            <a href="#" class="right"><small>Lost your Password?</small></a>
                        </div>
                        <div class="text-left form-group">
                            <button type="button" class="btn btn-primary">Login</button>

                        </div>
                    </form>
                    <p class="text-left">Don't have an account yet? <a href="#">Register New Account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: SECTION -->
</body>
</html>