<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/default/layout">
<head>
    <meta charset="UTF-8">
    <title>Thanh Toán</title>
</head>
<body>
<!-- SHOP CHECKOUT -->
<section layout:fragment="content" id="shop-checkout">
    <div class="container">
        <div class="shop-cart">
            <form method="post" class="sep-top-md">
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            <h4 class="upper">Thông tin vận chuyển</h4>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Thành phố</label>
                            <select class="fullwidth" name="country">
                                <option value="Hồ Chí Minh" data-provinces="['Tân Bình','Tân Phú']">Hồ Chí Minh</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">First Name</label>
                            <input type="text" class="form-control input-lg" placeholder="First Name" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Last Name</label>
                            <input type="text" class="form-control input-lg" placeholder="Last Name" value="">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Company Name</label>
                            <input type="text" class="form-control input-lg" placeholder="Company Name" value="">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Address</label>
                            <input type="text" class="form-control input-lg" placeholder="Address" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Apartment, suite, unit etc.</label>
                            <input type="text" class="form-control input-lg" placeholder="Apartment, suite, unit etc." value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Town / City</label>
                            <input type="text" class="form-control input-lg" placeholder="Town / City" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">State / County</label>
                            <input type="text" class="form-control input-lg" placeholder="State / County" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Postcode / Zip</label>
                            <input type="text" class="form-control input-lg" placeholder="Postcode / Zip" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" class="form-control input-lg" placeholder="Email" value="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Phone</label>
                            <input type="text" class="form-control input-lg" placeholder="Phone" value="">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="panel panel-naked">
                            </div>
                        </div>
                        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                            <option value="" selected>Chọn tỉnh thành</option>
                        </select>

                        <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                            <option value="" selected>Chọn quận huyện</option>
                        </select>

                        <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                            <option value="" selected>Chọn phường xã</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-12 no-padding">
                                <label>Địa chỉ cụ thể</label>
                                <textarea class="form-control input-lg" placeholder="Nhập thông tin cụ thể và ghi chú đơn hàng" rows="7"></textarea>
                            </div>
                        </div>

                    </div>



                </div>



            <!--SCRIPT-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
                <script>
                    var citis = document.getElementById("city");
                    var districts = document.getElementById("district");
                    var wards = document.getElementById("ward");
                    var Parameter = {
                        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
                        method: "GET",
                        responseType: "application/json",
                    };
                    var promise = axios(Parameter);
                    promise.then(function (result) {
                        renderCity(result.data);
                    });

                    function renderCity(data) {
                        for (const x of data) {
                            citis.options[citis.options.length] = new Option(x.Name, x.Id);
                        }
                        citis.onchange = function () {
                            district.length = 1;
                            ward.length = 1;
                            if(this.value != ""){
                                const result = data.filter(n => n.Id === this.value);

                                for (const k of result[0].Districts) {
                                    district.options[district.options.length] = new Option(k.Name, k.Id);
                                }
                            }
                        };
                        district.onchange = function () {
                            ward.length = 1;
                            const dataCity = data.filter((n) => n.Id === citis.value);
                            if (this.value != "") {
                                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                                for (const w of dataWards) {
                                    wards.options[wards.options.length] = new Option(w.Name, w.Id);
                                }
                            }
                        };
                    }
                </script>
            </form>

            <div class="seperator"><i class="fa fa-credit-card"></i>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4 class="upper">Your Order</h4>
                    <div class="table table-condensed table-striped table-responsive table table-bordered table-responsive">
                        <table class="table m-b-0">
                            <thead>
                            <tr>

                                <th class="cart-product-thumbnail">Product</th>
                                <th class="cart-product-name">Description</th>


                                <th class="cart-product-subtotal">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>


                                <td class="cart-product-thumbnail">

                                    <div class="cart-product-thumbnail-name">Bolt Sweatshirt</div>
                                </td>

                                <td class="cart-product-description">

                                    <p><span>Bolt Sweatshirt</span>
                                        <span>Size: M</span>
                                        <span>Color: Blue</span>
                                        <span>Gender: Women</span>
                                    </p>
                                </td>





                                <td class="cart-product-subtotal">
                                    <span class="amount">$20.00</span>
                                </td>
                            </tr>
                            <tr>


                                <td class="cart-product-thumbnail">

                                    <div class="cart-product-thumbnail-name">Consume Tshirt</div>
                                </td>

                                <td class="cart-product-description">
                                    <p><span>Consume Tshirt</span>
                                        <span>Size: S</span>
                                        <span>Color: Blue</span>
                                        <span>Gender: Women</span>
                                    </p>
                                </td>





                                <td class="cart-product-subtotal">
                                    <span class="amount">$18.99</span>
                                </td>
                            </tr>
                            <tr>


                                <td class="cart-product-thumbnail">

                                    <div class="cart-product-thumbnail-name">Logo Tshirt</div>
                                </td>

                                <td class="cart-product-description">

                                    <p><span>Logo Tshirt</span>
                                        <span>Size: L</span>
                                        <span>Color: Grey</span>
                                        <span>Gender: Man</span>
                                    </p>
                                </td>





                                <td class="cart-product-subtotal">
                                    <span class="amount">$18.00</span>
                                </td>
                            </tr>
                            <tr>


                                <td class="cart-product-thumbnail">

                                    <div class="cart-product-thumbnail-name">Grey Sweatshirt</div>
                                </td>

                                <td class="cart-product-description">

                                    <p><span>Grey Sweatshirt</span>
                                        <span>Size: L</span>
                                        <span>Color: Grey</span>
                                        <span>Gender: Man</span>
                                    </p>
                                </td>





                                <td class="cart-product-subtotal">
                                    <span class="amount">$68.97</span>
                                </td>
                            </tr>

                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <h4>Order Total</h4>

                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="cart-product-name">
                                    <strong>Order Subtotal</strong>
                                </td>

                                <td class="cart-product-name text-right">
                                    <span class="amount">$125.96</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-product-name">
                                    <strong>Shipping</strong>
                                </td>

                                <td class="cart-product-name  text-right">
                                    <span class="amount">Free Shipping</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-product-name">
                                    <strong>Coupon</strong>
                                </td>

                                <td class="cart-product-name  text-right">
                                    <span class="amount">-20%</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart-product-name">
                                    <strong>Total</strong>
                                </td>

                                <td class="cart-product-name text-right">
                                    <span class="amount color lead"><strong>$100.76</strong></span>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="upper">Payment Method</h4>

                    <table class="payment-method table table-bordered table-condensed table-responsive">
                        <tbody>
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value=""><b class="dark">Direct Bank Transfer</b>
                                        <br>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value=""><b class="dark">Cheque Payment</b>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="" checked=""><img width="90" alt="paypal" src="images/shop/paypal-logo.png">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="button color button-3d rounded icon-left float-right" href="#"><span>Proceed to PayPal</span></a>
                </div>

            </div>



        </div>
    </div>
</section>
<!-- END: SHOP CHECKOUT -->
</body>
</html>